#nav-icon {
    width: 2.5vmax;
  }
  .nav-bar {
    background-color: #abacad24;
    font-weight: 600;
    padding: 1vmax 6vmax !important;
  }
  .nav-items {
    color: rgb(0, 0, 0) !important;
  }
  .nav-items:hover {
    color: #ffffffc0 !important;
    text-decoration: underline;
  }
  .nav-bar-left {
    color: #000000;
    svg:hover {
      cursor: pointer;
    }
    
    .outer-search-icon{
      margin-right:1vmax ;
    }
  
  }
  #user-img{
      width: 2vmax;
      height: 2vmax;
      color: #ffffff;
    }
    #user-img:hover{
      cursor: pointer;
    }